<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      {% if site.description %}
        <h2 class="project-tagline">{{ site.description }}</h2>
      {% endif %}
    </header>

    <main class="main-content">
      <div class="container">
        <div class="content">
          {{ content }}
        </div>
        {% include sidebar.html %}
      </div>
    </main>

    {% if site.github.is_project_page %}
      <footer class="site-footer">
        <span class="site-footer-credits">{{ site.title }} © {{ site.time | date: '%Y' }}</span>
      </footer>
    {% endif %}
  </body>
</html>
